
.container {
	display: flex;
	flex-flow: column wrap;
	overflow: auto;
}

article {
	font-size: initial;
	padding: 5px;
	margin: 0.5em;
	text-align: right;
	color: rgb(255, 255, 255);
	background-position: center;
	box-sizing: border-box;
	text-shadow: 1px 0px 1px black;
}


.pf_it1 {
	background-image: url('../img/holodicom.png');
	min-height: 250px;
}

.pf_it2 {
	background-image: url('../img/carrefourJuguetes.png');
	min-height: 350px;
}

.pf_it3 {
	background-image: url('../img/santillanaMaya.png');
	height: 225px;
}

.pf_it4 {
	background-image: url('../img/khinn.png');
	min-height: 350px;
}

.pf_it5 {
	/* https://www.behance.net/gallery/73241139/TOROFUN-Social-games */
	background-image: url('../img/torofun.png');
	height: 226px;
}

.pf_it6 {
	/*  http://www.zoomart.es/portfolio/metallicars-videogame */
	background-image: url('../img/metallicars.png');
	min-height: 200px;
}

.pf_it7 {
	background-image: url('../img/lakento.png');
	height: 280px;
}


@media (min-width: 500px) {
	.container {
		max-height: 1200px;
	}
	
	article {
		width: 50%;
	}	

	.pf_it1 {
		order: 1;
	}

	.pf_it2 {
		order: 2;
	}

	.pf_it3 {
		order: 6;
	}

	.pf_it4 {
		order: 5;
	}

	.pf_it5 {
		order: 3;
	}

	.pf_it6 {
		order: 7;
	}

	.pf_it7 {
		order: 4;
	}
}